@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body{
  font-family:'Roboto', sans-serif;
  background: linear-gradient(18deg, #e37682, #e39207);
  scroll-behavior: smooth; 
  } 

header {
  width:auto;
  height:50px;
  background-color: #ebaf56;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}