@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body{
  font-family:'Roboto', sans-serif;
  background: linear-gradient(90deg, #2e2c2c,#7c7c7c, #e8e3e4 ,#e8e3e4);
  scroll-behavior: smooth; 
  } 

header {
  width:auto;
  height:50px;
  background-color: #ebaf56;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pasek1{
  width:400px;
}
.menu{
  width:400px;
}

header input{
  border-color:black;
  border-radius: 20px;
  border-width:1px;
  padding-left:5px;
}


header button{
  border-radius:10px;
  border-color:gray;
  background-color: gray;
}

header img{
  width:50px;
  height:50px;
}

header div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

main{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left:250px;
}

main h1{
  display: flex;
  word-wrap: normal;
  flex-wrap:wrap;
  margin-left:250px;
}

.gallery {
  --s: 200px; /* control the size */
  --g: 5px;  /* control the gap */
  display: grid;
}

.gallery > img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 0.866;
  object-fit: cover;
  clip-path: polygon(0% 25%,0% 75%,50% 100%,100% 75%,100% 25%,50% 0);
  transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
  cursor: pointer;
  transition: .2s linear;
}
.gallery > img:hover {
  z-index: 1;
  --_t: 1.2;
}

.gallery > img:nth-child(1) {--_x: calc(-100% - var(--g))}
.gallery > img:nth-child(7) {--_x: calc( 100% + var(--g))}
.gallery > img:nth-child(3),
.gallery > img:nth-child(5) {--_y: calc(-75% - .87*var(--g))}
.gallery > img:nth-child(4),
.gallery > img:nth-child(6) {--_y: calc( 75% + .87*var(--g))}
.gallery > img:nth-child(3),
.gallery > img:nth-child(4) {--_x: calc(-50% - .5*var(--g))}
.gallery > img:nth-child(5), 
.gallery > img:nth-child(6) {--_x: calc( 50% + .5*var(--g))}


body {
  margin: 0;
  min-height: 100vh;
  display: grid;
}